* > .containertwo {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
#demo3 {
	width: 276px;
	height: 20px;
	text-align: center;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	opacity: 0;
}
.puzzle {
	border: 2px solid white;
	border-radius: 10px;
	padding: 5px;
	width: 268px;
	height: 268px;
	background: white;
}
.main {
	pointer-events: none;
}
.container {
	position: absolute;
	overflow: hidden;
	top: 152px;
	left: 520px;
	z-index: 1;
	background: url(photo.jpg);
	width: 282px;
	height: 0px;
	border-radius: 10px;
	animation-name: third;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-play-state: paused;
	animation-delay: 0s;
}
@keyframes third {
	0% {height: 282px;
	}
	100% {
		height: 0px;
	}
}
.container2 {
	position: absolute;
	overflow: hidden;
	top: 152px;
	left: 520px;
	z-index: 1;
	background: url(photo.jpg);
	width: 282px;
	height: 282px;
	border-radius: 10px;
	animation-name: fourth;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	animation-play-state: paused;
	animation-delay: 0s;
}
@keyframes fourth {
	0% {height: 0px ;
	}
	100% {
		height: 282px;
	}
}
#console{
	position: absolute;
	top: 120px;
	left: -210px;
	margin-left: 60px;
	width: 142px;
	border: 3px solid #fff;
	background: black;
	height: 30px;
	text-align: center;
	padding-top: 10px;
	opacity: 1;
	pointer-events: none;
}
#demo {
	position: relative;
	display: inline;
	top: 0px;
	font-family: sans-serif;
	font-weight: bold;
	color: red;
	text-transform: uppercase;
	animation-name: first;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-play-state: paused;
	animation-delay: 0s;
}

@keyframes first {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
#blinker {
	display: inline;
	color: white;
	position:relative;
	left: -20px;
	font-family: sans-serif;
	font-weight: bold;
	animation-name: second;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-play-state: paused;
	animation-delay: 0s;
	animation-timing-function: steps(1, end);
}
@keyframes second {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
#maindiv{
	position: absolute;
	top: 50px;
	left: 470px;
	padding: 50px;
}
#maindiv2{
	position: absolute;
	top: 0px;
	left: 245px;
	width: 60%;
	height: 92.4%;
	background: white ;
	opacity: 0.6;
	background-size: 100%;
	padding-right: 10px;
	padding-bottom: 50px;
}
.blocker {
	display: inline-block;
	opacity: 1;
	margin: 0px;
	transition: opacity .2s ease;
	border-radius: 10px;
}
.blocker:hover {
	cursor: pointer;
	opacity: 0.9;
}
.blocker:active {
	opacity: 0.4;
}
.button {
	margin-left: 59px;
	padding: 10px 39px;
	background: #ffffff;
	border: 5px solid #5697ff;
	border-radius: 15px;
	font-family: sans-serif;
	font-size: 18px;
	font-weight: bold;

	transition: all .3s ease;
	
}
#btn1 {
	position: absolute;
	top: 120px;
	left: 325px;
}
#btn2 {
	position: absolute;
	top: 200px;
	left: 325px;
}
.button:hover {
	background: #5697ff;
	color: white;
	cursor: pointer;
}
.button:active {
	background-color: #000000;
	border-color: #000;
}
button:focus { outline-style: none; }
.chosen {
	opacity: 1;

}
.unk {
	display: block;
	box-sizing: border-box;
	background: url(photo3.jpg) no-repeat ;
	width: 64px;
	height: 64px;
	padding-left: 64px;
}
#back {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0.7;
}
#butt1 {
	position: absolute;
	z-index: 1;
	opacity: 0;
}
#butt2 {
	position: absolute;
	left: 95px;
	z-index: 1;
	opacity: 0;
}